@import url("https://fonts.googleapis.com/css?family=Poppins:regular&display=swap");
/*----------------------------------------------------------------------------------------------------*/
/*--Обнуление стилей--*/
* {padding: 0px;margin: 0px;border: 0px;}
*,*:before,*:after {box-sizing: border-box;}
html,body {height: 100%;min-width: 320px;}
body {
	color: #000;
	line-height: 1;
	font-family: "Poppins";
	font-size: 16px;
	
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,button,textarea {font-size: inherit;}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
a {color: inherit;}
a:link,a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1,h2,h3,h4,h5,h6 {font-weight: inherit;font-size: inherit;}
/*----------------------------------------------------------------------------------------------------*/
/*--Прижатие футера к низу--*/
.wrapper{display: flex;flex-direction: column;min-height: 100%;position: relative;}
.main{flex: 1 1 auto;}
/*----------------------------------------------------------------------------------------------------*/
/*--Общие стили--*/
[class*="__container"] {
   max-width: 1188px;
   margin: 0 auto;
   padding: 0 10px;
}
.title{
   font-size: 36px;
   line-height: 120%;
   color: #45525B;
}
@media (max-width: 478.98px){
   .title{font-size: 28px;}
}
.subtitle{
   font-size: 14px;
   line-height: 140%;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #FF8A63;
}
.arrow-btn {
   width: 64px;
   height: 64px;
   border-radius: 50%;
   border: 2px solid #3A4443;
   display: flex;
   justify-content:center;
   align-items: center;
   transition: all 0.3s ease 0s;
}
@media (any-hover: hover){
   .arrow-btn:hover{
      border-color: #FF8A63;
   }
}

.profile {display: flex;gap: 10px;align-items: center;}
.profile__img {
  overflow: hidden;
   flex: 0 0 80px;
   height: 80px;
   position: relative;
   border: 2px solid #CACCD1;
   border-radius: 50%;
}
.profile__img img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: contain;
   
}
.profile__body {}
.profile__name {
   font-size: 16px;
   line-height: 140%;
   color: #45525B;
}
.profile__specialization {
   font-size: 12px;
   line-height: 140%;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #6F7278;
}
@media (max-width: 998.98px){
   .profile {gap: 5px;}
}
/*----------------------------------------------------------------------------------------------------*/
/*--HEADER--*/
.header {
   position: absolute;
   z-index: 50;
   width: 100%;
   padding: 15px 0;
   background-color: #fff;
}
.header__container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 15px;
}
.header__logo{
   min-height: 37px;
   flex: 0 0 102px;
   position: relative;
   align-self: stretch;
}
.header__logo img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: contain;
}
.header__menu {}

.menu {}
.menu__icon {display: none;}
.menu__body {}
.menu__list {
   display: flex;
   gap: 30px;
   justify-content: end;
}

.menu__item {}
.menu__link {
   font-size: 15px;
   line-height: 107%;
   color: #444444;
   position: relative;
}
.menu__link::before{
   content: "";
   position: absolute;
   display: block;
   right: 0;
   bottom: -2px;
   height: 2px;
   width: 0;
   background-color: #FF8A63;
   transition: all 0.3s ease 0s;
}
@media (any-hover: hover){
   .menu__link:hover::before{
      width: 100%;
   }
   .menu__link:hover{
      color: #FF8A63;
   }
}
@media (max-width: 998.98px){
   .menu__list {
      gap: 20px;
   }
}
@media (max-width: 478.98px){
   .menu__list{
      flex-wrap: wrap;
      gap: 10px;
   }
   .menu__link {font-size: 14px;}
}
/*----------------------------------------------------------------------------------------------------*/
/*--MAIN-BLOCK--*/
.main-block {
   position: relative;
   padding: 80px 0 60px 0;
   min-height: 100vh;
   display: flex;
   justify-content:center;
   align-items: center;
   flex-direction: column;
   gap: 15px;
}
.main-block__container {
   flex: 1 1 auto;
   position: relative;
   z-index: 3;
   height: 100%;
   display: flex;
   justify-content:center;
   align-items: center;
   flex-direction: column;
   gap: 20px;
}
.main-block__logo {
   flex: 0 0 103px;
   min-width: 128px;
   position: relative;
}
.main-block__logo img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: contain;
}
.main-block__title {
   max-width: 525px;
   font-size: 32px;
   line-height: 140%;
   text-align: center;
   color: #45525B;
}
.main-block__bg img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}
.main-block__bg::before{
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
   background: rgba(250, 250, 252, 0.78);
   z-index: 2;
}
.main-block__arrow {
   cursor: pointer;
   position: relative;
   z-index: 3;
   animation: arrow-down 0.8s infinite linear;
   
}
@keyframes arrow-down{
   0%{
      top: 0;
   }
   25%{
      top: -3px;
   }
   50%{
      top: 0px;
   }
   75%{
      top: 3px;
   }
   100%{
      top: 0;
   }
}
/*----------------------------------------------------------------------------------------------------*/
/*--GOAL--*/
.goal {padding: 100px 0;background: #FAFAFC;}
.goal__container {
   display: flex;
   gap: 10px;
}
.goal__head {flex: 0 1 50%;padding-top: 50px;}
.goal__subtitle {}
.goal__title {
   font-size: 48px;
   max-width: 435px;
}
.goal__body {flex: 0 1 50%;}
.goal__text p {
   font-size: 16px;
   line-height: 140%;
   color: #333333;
}
.goal__text p:not(:last-child){
   margin-bottom: 10px;
}
.goal__text:not(:last-child){
   margin-bottom: 20px;
}
.goal__profile {}

@media (max-width: 998.98px){
   .goal {padding: 60px 0 30px 0;}
   .goal__container {
      flex-direction: column;
   }
   .goal__head {padding-top: 0px;}
   .goal__title{max-width: 100%;}
}
@media (max-width: 478.98px){
   .goal__title{font-size: 28px;}
}

/*----------------------------------------------------------------------------------------------------*/
/*--REQUIREMENTS--*/
.requirements {padding: 100px 0;}
.requirements__container {}
.requirements__top {text-align: center;}
.requirements__top:not(:last-child){margin-bottom: 30px;}
.requirements__subtitle {}
.requirements__title:not(:last-child) {margin-bottom: 15px;}
.requirements__text {
   max-width: 561px;
   margin: 0 auto;
}
.requirements__body {
   max-width: 812px;
   margin: 0 auto;
   display: flex;
   gap: 30px;
}
.requirements__img{
   align-self: start;
   flex: 0 0 59%;
   position: relative;
   border-radius: 30px;
   overflow: hidden;
   padding-bottom: 72%;
}
.requirements__img img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
   transition: all 0.3s ease 0s;
}
@media (any-hover: hover){
   .requirements__img:hover img{
      transform: scale(1.2);
   }
}
.requirements__items {padding-top: 23px;}
.requirements__item:not(:last-child) {
   margin-bottom: 20px;
}


.requirement {
   padding: 21px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   transition: all 0.2s ease 0s;
   border-radius: 10px;
   border: 1px solid transparent;
}
@media (any-hover: hover){
   .requirement:hover{
      background: #FAFAFC;
      border: 1px solid rgba(202, 204, 209, 0.2);
   }
}
.requirement__img{
   flex: 0 0 48px;
   width: 48px;
   position: relative;
   background: #45525B;
   display: flex;
   justify-content:center;
   align-items: center;
}
.requirement__img:not(:last-child){
   margin-bottom: 10px;
}
.requirement__img img {
   max-width: 24px;
   max-height: 24px;
   flex: 0 0 24px;
}
.requirement__title {
   flex: 1 1 auto;
   font-size: 14px;
   line-height: 140%;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #45525B;
}
.requirement__text {
   font-size: 14px;
   line-height: 140%;
   color: #6F7278;
}
@media (max-width: 998.98px){
   .requirement{
      background: #FAFAFC;
      border: 1px solid rgba(202, 204, 209, 0.2);
   }
   .requirements__body{
      flex-direction: column-reverse;
   }
   .requirements__img{
      flex: 0 0 auto;
      align-self: stretch;
      padding-bottom: 122%;
   }
   .requirements {padding: 60px 0 30px 0;}
}
/*----------------------------------------------------------------------------------------------------*/
/*--LAMBOURNE--*/
.lambourne {
   position: relative;
   overflow: hidden;
   
}
.lambourne__container {
   position: relative;
   min-height: 540px;
   padding-top: 50px;
   padding-bottom: 50px;
   display: flex;
   align-items: center;
   justify-content: end;
}
.lambourne__body {
   position: relative;
   z-index: 3;
   flex: 0 0 300px;
   position: relative;
   
}
.lambourne__body>*:not(:last-child){
   margin-bottom: 15px;
}
.lambourne__subtitle {
   position: relative;
   z-index: 3;
}
.lambourne__text {
   position: relative;
   z-index: 3;
   font-size: 16px;
   line-height: 140%;
   color: #292C32;
}
.lambourne__link{
   position: relative;
   z-index: 3;
   display: inline-flex;
   align-items: center;
   gap: 12px;
}

.lambourne__link span{
   flex: 1 0 auto;
   font-size: 15px;
   line-height: 140%;
   color: #45525B;
   transition: all 0.3s ease 0s;
}
.lambourne__link img{
   flex: 0 0 30px;
   height: 10px;
}
.lambourne__link:hover span{
   color: #FF8A63;
}
.lambourne__bg{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
.lambourne__bg img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}
.lambourne__container::before{
   content: "";
   position: absolute;
   z-index: 2;
   width: 100%;
   height: 100%;
   top: 0;
   left: calc(100% - 320px);
   background: rgba(250, 250, 252, 0.78);
}
@media (max-width: 478.98px){
   .lambourne__container{
      justify-content: start;
      
      min-height: 0;
   }
   .lambourne__container::before{
      left: 0;
   }
}
/*----------------------------------------------------------------------------------------------------*/
/*--LISTINGS--*/
.listings {
   padding: 100px 0;
   background-color: #FAFAFC;
}
.listings__container{
   display: flex;
   flex-direction: column;
}
.listings__container>*:not(:last-child) {margin-bottom: 30px;}
.listings__top {}
.listings__subtitle {}
.listings__title:not(:last-child) {margin-bottom: 15px;}
.listings__text {
   font-size: 18px;
   line-height: 120%;
   color: #6F7278;
}
.listings__body {
   display: flex;
   flex-wrap: wrap;
   margin: 0 -8px;
   row-gap: 16px;
}
.listings__item{
   flex: 0 0 33.333%;
   padding: 0 8px;
}
.listings__link {
   align-self: center;
   display: inline-flex;
   align-items: center;
   gap: 12px;
   margin: 0 auto;
}
.listings__link span{
   flex: 1 0 auto;
   font-size: 15px;
   line-height: 140%;
   color: #45525B;
   transition: all 0.3s ease 0s;
}
.listings__link img{
   flex: 0 0 30px;
   height: 10px;
}
.listings__link:hover span{
   color: #FF8A63;
}


.announcement {
   background: #FFFFFF;
   box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.03);
   border-radius: 8px;
   display: flex;
   flex-direction: column;
   overflow: hidden;
}
.announcement__img {
   padding-bottom: 70%;
   position: relative;
}
.announcement__img img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}
.announcement__body {
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.announcement__category {
   font-size: 12px;
   line-height: 140%;
   text-align: center;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #6F7278;
}
.announcement__location {
   flex: 1 1 auto;
   font-size: 20px;
   line-height: 140%;
   text-align: center;
   color: #45525B;
}
.announcement__location:not(:last-child){margin-bottom: 10px;}
.announcement__items {
   align-self: stretch;
   display: flex;
   gap: 5px;
   justify-content: space-between;
   font-size: 12px;
   line-height: 140%;
   text-align: center;
   color: #45525B;
}
.announcement__items>*{
   display: flex;
   position: relative;
   padding-left: 28px;
}
.announcement__items>* img {
   position: absolute;
   width: 20px;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: contain;
}
.announcement__bads {}
.announcement__bathrooms {}
.announcement__roms {}
@media (max-width: 998.98px){
   .listings { padding: 60px 0 30px 0;}
   .listings__body{
      justify-content: center;
   }
   
   .listings__item{
      flex: 1 1 379px;
   }
   .announcement__body{
      padding: 20px 10px;
   }
   .announcement__items {
      justify-content: center;
      gap: 10px;
   }
}
/*----------------------------------------------------------------------------------------------------*/
/*--PEOPLE--*/
.people {padding: 100px 0;}
.people__container {display: flex;justify-content: space-between;gap: 30px;}

.people__top {flex: 0 0 368px;}
.people__subtitle {}
.people__title:not(:last-child) {margin-bottom: 15px;}
.people__text{
   font-size: 17px;
   line-height: 127%;
   color: #6F7278;
}
.people__text:not(:last-child) {margin-bottom: 15px;}
.people__link {
   display: inline-flex;
   align-items: center;
   gap: 12px;
}
.people__link span{
   flex: 1 0 auto;
   font-size: 15px;
   line-height: 140%;
   color: #45525B;
   transition: all 0.3s ease 0s;
}
.people__link img{
   flex: 0 0 30px;
   height: 10px;
}
.people__link:hover span{
   color: #FF8A63;
}

.people__body {
   align-self: start;
   flex: 0 1 736px;
   display: flex;
   flex-wrap: wrap;
   margin: 0 -8px;
}
.people__item {
   padding: 8px;
   flex: 0 1 50%;
}
@media (max-width: 998.98px){
   .people {padding: 60px 0 30px 0;}
   .people__container {
      flex-direction: column;
      justify-content: flex-start;
   }
   .people__top {flex: 1 1 auto;}
   .people__body {
      align-self: stretch;
      flex: 1 1 auto;
      margin: 0 -5px;
   }
   .people__item {
      padding: 5px;
   }
}
@media (max-width: 499.98px){
   .people__item {flex: 1 1 100%;}
}
/*----------------------------------------------------------------------------------------------------*/
/*--NEWSROOM--*/
.newsroom {padding: 100px 0;background: #FAFAFC;}
.newsroom__container {
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.newsroom__top {text-align: center;}
.newsroom__subtitle {}
.newsroom__title {}
.newsroom__body {
   display: flex;
   margin: 0 -10px;
}
.newsroom__item {
   padding: 0 10px;
   flex: 0 0 33.333%;
}

.news {
   overflow: hidden;
   height: 100%;
   display: flex;
   flex-direction: column;
   border-radius: 10px;
   box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
   transition: all 0.3s ease 0s;
}
@media (any-hover: hover){
   .news:hover{
      transform: scale(1.01);
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
   }
}
.news__img {
   position: relative;
   padding-bottom: 56%;
   overflow: hidden;
}
.news__img img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
   transition: all 0.3s ease 0s;
}
@media (any-hover: hover){
   .news__img:hover  img{
      transform: scale(1.1);
   }
}
.news__body {
   flex: 1 1 auto;
   padding: 30px;
   display: flex;
   flex-direction: column;
}
.news__body>*:not(:last-child){margin-bottom: 10px;}
.news__category {
   font-size: 12px;
   line-height: 140%;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #FF8A63;
}
.news__text {
   flex: 1 1 auto;
   font-size: 16px;
   line-height: 120%;
   color: #45525B;
}
.news__date {
   font-size: 13px;
   line-height: 151%;
   color: #6F7278;
}


.newsroom__link  {
   align-self: center;
   display: inline-flex;
   align-items: center;
   gap: 12px;
}
.newsroom__link  span{
   flex: 1 0 auto;
   font-size: 15px;
   line-height: 140%;
   color: #45525B;
   transition: all 0.3s ease 0s;
}
.newsroom__link  img{
   flex: 0 0 30px;
   height: 10px;
}
.newsroom__link:hover span{
   color: #FF8A63;
}
@media (max-width: 998.98px){
   .newsroom {padding: 60px 0 30px 0;}
   .newsroom__body {
      flex-wrap: wrap;
   }
   .newsroom__item {
      flex: 0 0 100%;
   }
   .newsroom__item:not(:last-child){margin-bottom: 20px;}
}
/*----------------------------------------------------------------------------------------------------*/
/*--TESTIMONIALS--*/
.testimonials {padding: 100px 0 70px 0;overflow: hidden;}
.testimonials__container {}
.testimonials__top:not(:last-child) {margin-bottom: 25px;}
.testimonials__subtitle {}
.testimonials__title {}
.testimonials__body {}
.testimonials__slider {}

.slider {overflow: visible;}
.slider__wrapper:not(:last-child) {margin-bottom: 20px;}
.slider__slide {max-width: 584px;}
.slider__buttons {

   display: flex;
   justify-content:flex-end;
   align-items: center;
   gap: 10px;
}
.slider__button-prev,
.slider__button-next{
   position: static;
   display: flex;
   justify-content:center;
   align-items: center;
   height: 60px;
   width: 60px;
   flex: 0 0 60px;
   margin-top: 0;
}
.slider__button-prev::after,
.slider__button-next::after{display: none;}
.slider__button-prev .arrow-btn {
   transform: rotate(90deg);
}
.slider__button-next .arrow-btn {
   transform: rotate(-90deg);
}

.review {
   max-width: 584px;
   padding: 31px;
   background: #FFFFFF;
   border: 1px solid rgba(82, 80, 59, 0.1);
   border-radius: 4px;
}
.review__rating:not(:last-child) {margin-bottom: 10px;}
.review__title {
   font-size: 24px;
   line-height: 120%;
   color: #333333;
}
.review__title:not(:last-child) {margin-bottom: 10px;}
.review__text {
   font-size: 15px;
   line-height: 149%;
   color: #333333;
}
.review__text:not(:last-child) {margin-bottom: 20px;}
.review__name{
   min-height: 24px;
   padding-left: 10px;
   border-left: 2px #FF8A63 solid;
}
.review__name span{
   font-size: 16px;
   line-height: 100%;
   color: #45525B;
}

.rating {display: flex;gap: 2px;}
.rating__item {
   flex: 0 0 18px;
   height: 18px;
   position: relative;
}
.rating__item img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: contain;
}
@media (max-width: 998.98px){
   .testimonials {padding: 60px 0 30px 0;}
}
/*----------------------------------------------------------------------------------------------------*/
/*--CONTACT--*/
.contact {padding: 100px 0;background: #45525B;}
.contact__container {
   display: flex;
   align-items: center;
   flex-direction: column;
}
.contact__container>*{
   max-width: 574px;
}
.contact__subtitle {
   font-size: 14px;
   line-height: 140%;
   text-align: center;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #FAFAFC;
}
.contact__title {
   font-size: 36px;
   line-height: 120%;
   text-align: center;
   color: #FFFFFF;
}
.contact__title:not(:last-child){margin-bottom: 10px;}
.contact__text {
   font-size: 18px;
   line-height: 120%;
   text-align: center;
   color: #FAFAFC;
}
.contact__text:not(:last-child){margin-bottom: 20px;}
.contact__items {display: flex;gap: 20px;}
.contact__link {
   background: #FFFFFF;
   border-radius: 6px;
   font-size: 16px;
   line-height: 140%;
   text-align: center;
   border: 2px #45525B solid;
   color: #45525B;
   padding: 10px 18px;
   transition: all 0.3s ease 0s;
}
@media (any-hover: hover){
   .contact__link:hover{
      border-color: #fff;
      background-color: #45525B;
      color: #fff;
   }
}
@media (max-width: 998.98px){
   .contact {padding: 60px 0 30px 0;}
}
@media (max-width: 478.98px){
   .contact__title{font-size: 28px;}
}
/*----------------------------------------------------------------------------------------------------*/
/*--FOOTER--*/
.footer {padding: 100px 0;background: #292C32;overflow: hidden;}
.footer__container {
   display: flex;
   flex-direction: column;
}
.footer__logo {
   align-self: center;
   position: relative;
   min-width: 160px;
   flex: 0 0 58px;
}
.footer__logo img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: contain;
}
.footer__logo:not(:last-child){margin-bottom: 75px;}
.footer__body:not(:last-child){margin-bottom: 28px;}
.footer__bottom {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 15px;
}


.body-footer {
   display: flex;
   justify-content: space-between;
   gap: 15px;
}

.body-footer__pages {}
.body-footer__category {
   font-size: 14px;
   line-height: 140%;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: #FF8A63;
}
.body-footer__category:not(:last-child){margin-bottom: 10px;}
.body-footer__list {
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.body-footer__item {}
.body-footer__link {
   font-size: 16px;
   line-height: 140%;
   color: #FFFFFF;
}
.body-footer__company {}
.body-footer__utility {}
.body-footer__newsletter {
   flex: 0 1 458px;
   display: flex;
   flex-direction: column;
}
.body-footer__text {
   font-size: 16px;
   line-height: 140%;
   color: #FAFAFC;
}
.body-footer__text:not(:last-child){margin-bottom: 10px;}
.body-footer__form {
   
}

.form-footer {
   position: relative;
   display: flex;
   overflow: hidden;
   background: #F9FAFB;
   border: 1px solid #E5E7EB;
   border-radius: 8px;
}
.form-footer__input {
   overflow: hidden;
   background: #F9FAFB;
   border: 1px solid #E5E7EB;
   border-radius: 8px;
   font-family: inherit;
   flex: 1 1 auto;
   height: 100%;
   padding: 14px 90px 14px 34px;
}
.form-footer__input:focus-visible{
   outline: none;
}
.form-footer__input::placeholder{
   font-size: 16px;
   line-height: 140%;
   color: #6F7278;
}
.form-footer__button {
   cursor: pointer;
   font-family: inherit;
   position: absolute;
   top: 50%;
   right: 7px;
   transform: translate(0,-50%);
   background: #3A4443;
   border: 2px #3A4443 solid;
   border-radius: 10px;
   padding: 8px;
   font-size: 16px;
   line-height: 140%;
   color: #FFFFFF;
   transition: all 0.3s ease 0s;
}
@media (any-hover: hover){
   .form-footer__button:hover{
      background-color: #FFFFFF;
      color: #3A4443;
   }
}


.footer__copy {
   font-size: 16px;
   line-height: 140%;
   color: #FFFFFF;
}
.footer__social {}
.social-footer {
   display: flex;
   align-items: center;
   gap: 20px;
}
.social-footer__item {
   position: relative;
   flex: 0 0 24px;
   min-height: 24px;
}
.social-footer__item img {
   object-fit: contain;
}
@media (max-width: 998.98px){
   .footer {padding: 60px 0 30px 0;}
   .body-footer{
      flex-wrap: wrap;
   }
   .body-footer__newsletter {
      flex: 1 1 100%;
   }
}
@media (max-width: 478.98px){
   .body-footer{
      display: block;;
   }
   .body-footer>*:not(:last-child){margin-bottom: 25px;}
   .body-footer__newsletter {
      flex: 0 1 auto;
      align-self: stretch;
   } 
   .footer__bottom{
      flex-direction: column-reverse;
      align-items: center;
   }
}
/*----------------------------------------------------------------------------------------------------*/
